
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">

<div class="w3-container"  style="width:1030px;height:1000px;margin-right:350px;" *ngIf="productDetail">
	<div class="w3-panel w3-round-small w3-deep-purple">
		<h3>Product Details  <button routerLink="/products" class="w3-button w3-blue custom-button margin-right"> <i class="w3-medium fa fa-chevron-left"></i> Back</button></h3>
	</div>
	<div class=" w3-card custom-card" style="width:1000px;margin-right:350px;"><br>
		<h3 class="text-center">{{productDetail.productName}} {{productDetail.category}}</h3>
		<hr>
		<table class="w3-table w3-bordered" >
			<tr>
				<td><i class="w3-medium custom-icon fa fa-hotel"></i>Product Name</td>
				<td>: <b>{{productDetail.productName}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-building"></i>Category</td>
				<td>: <b>{{productDetail.category}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-envelope-o"></i> Image Url</td>
				<td>: <b>{{productDetail.imageUrl}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-phone"></i> Reviews Rating</td>
				<td>: <b>{{productDetail.reviews[0].rating}} {{productDetail.reviews[1].rating}} {{productDetail.reviews[2].rating}} {{productDetail.reviews[3].rating}} {{productDetail.reviews[4].rating}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-address-card"></i> Reviews Content</td>
				<td>: <b>{{productDetail.reviews[0].content}} {{productDetail.reviews[1].content}} {{productDetail.reviews[2].content}} {{productDetail.reviews[3].content}} {{productDetail.reviews[4].content}}</b></td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>