
<div class="w3-container" *ngIf="productListData">
	<div class="w3-panel w3-round-small w3-deep-purple">
		<h3>Product List <button routerLink="" class="w3-button  custom-button"><i class="w3-medium  fa fa-plus"></i> Add New Product</button></h3>
	</div>
	<span><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text" [(ngModel)]='filterData'></span>

	<div class="w3-panel w3-green" *ngIf="(productListData | filter:filterData).length === 0">
		<h3>Oh no</h3>
		<p>No product category found <span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
	</div>
	<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(productListData | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th><i class="w3-medium custom-icon fa fa-refresh"></i> Ref.num</th>
				<th><i class="w3-medium custom-icon fa fa-hotel"></i> Product Name</th>
				<th><i class="w3-medium custom-icon fa fa-building"></i> Product Category</th>
				<th><i class="w3-medium custom-icon fa fa-envelope-o"></i> image Url</th>
				<th><i class="w3-medium custom-icon fa fa-phone"></i> Review</th>
				
			</tr>
			<tr *ngFor="let product of productListData | filter:filterData; index as i;" >
				<td>{{i +1}}</td>
				<td class="pointer" [routerLink]="['/product' ,i]">{{product.productName}} </td>
				<td class="pointer" [routerLink]="['/product', i]">{{product.category}}</td>
                <td class="pointer" [routerLink]="['/product',i]">{{product.imageUrl}}</td>
				<td class="pointer" [routerLink]="['/product',i]">{{product.reviews[0].rating}} {{product.reviews[1].rating}} {{product.reviews[2].rating}} {{product.reviews[3].rating}} {{product.reviews[4].rating}}</td>
            
			</tr>
		</table>
	</div>
</div>


