

<div class="d-flex align-items-center auth px-0">
	<div class="row w-100 mx-0">
	  <div class="col-lg-4 mx-auto">
		<div class="auth-form-light text-left py-5 px-4 px-sm-5">
			
		  <div class="brand-logo">
			<img src="assets/images/logo.svg" alt="logo">
		  </div>
		  <h4>Hello! let's get started</h4>
		  <h6 class="font-weight-light">Sign in to continue.</h6>
		  <form  [formGroup]="loginForm" (ngSubmit)="doLogin()" class="pt-3">
			<div class="form-group">
			  <input type="email" class="form-control form-control-lg" formControlName="email"  placeholder="Username">
			  <div class="w3-panel w3-red"  *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">Please enter valid email address</div> 
			</div>
			<div class="form-group">
			  <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password">
			  <div class="w3-panel w3-red"  *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">Password must be at least 6 characters long, and contain a number</div> 
			</div>
			<div class="mt-3">
				<button  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" [disabled]="!loginForm.valid">Login  </button>
			</div>
			
			<div class="my-2 d-flex justify-content-between align-items-center">
			  <div class="form-check">
				<label class="form-check-label text-muted">
				  <input type="checkbox" class="form-check-input">
				  <i class="input-helper"></i>
				  Keep me signed in
				</label>
			  </div>
			  <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
			</div>
			<div class="mb-2">
			  <button type="button" class="btn btn-block btn-facebook auth-form-btn">
				<i class="mdi mdi-facebook mr-2"></i>Connect using facebook
			  </button>
			</div>
			<div class="text-center mt-4 font-weight-light">
			  Don't have an account? <a routerLink="/register" class="text-primary">Create</a>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>  